extends layout

block content
  .container.lrg-mast
    h1
      a(href='/') Morning Theft
    p
      | We are currently in the process of recording our debut album.
      | To stay up to date on its progress, join our <a href='/mailinglist'>mailing list</a>, or
      | connect with us on <a href='https://www.facebook.com/themorningtheft'>Facebook</a>, 
      | <a href='https://twitter.com/themorningtheft'>Twitter</a>, or 
      | <a href='http://instagram.com/themorningtheft'>Instagram</a>.