extends layout

block content
    p Here are some nice things people have written about us:

    div.quotes
      blockquote
        p
          |"Across five songs, they blew my mind. Their music even leaves me at a <em>loss</em> for words,
          | but a friend stopped in for their set and said, 'That was refreshing
          | -- that really hit the spot.' I couldn't agree more."
        small.pull-right
          | Mitchell Hillman in a
          cite(title='Phoenix New Times')
            a(target=''
              href='http://blogs.phoenixnewtimes.com/uponsun/2013/11/small-leaks-sink-ships-review-last-exit-live.php')
              |  Phoenix New Times
            |  show review