extends layout

block content
    table.table.shows
      thead
        tr
          th Date
          th City
          th Venue
          th
      tbody
      //- Need to dynamically grab these.
      - var shows = [{month: 'Apr', date: 25, year: '2014', city: 'Tempe', state: 'AZ', venue: 'Yucca Tap Room'}]
      each show in shows
        if Date.parse(show.year+','+show.month+','+show.date) > Date.now()
          tr
            td= show.month + ' ' + show.date
            td= show.city + ', ' + show.state
            td= show.venue
            td
              //- a(href='') More Info
