html {
    overflow-y: scroll;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    color: #444;
}

blockquote {
    border-left-color: #B2E47C;
}

button:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}

p {
    font-size: 24px;
    font-weight: 200;
}

.lrg-mast {
    margin-top: 80px;

    h1 {
        font-size: 85px;
        text-transform: capitalize;
        letter-spacing: -3px;
        text-decoration: none;

        a {
            color: #444;
        }
    }

    p {
        width: 90%;
        // margin: 10px 0 0 0;
    }
}


.sign-up-form {
    // width: 70%;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-control {
    width: 70%;
}

.form-control:focus {
    border-color: #666;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.submit-btn {
    color: #666;
    background-color: #BEF582;
    border-color: #BEF582;

    &:hover {
        background-color: #B2E47C;
        border-color: #B2E47C;
    }

    &:focus {
        border-color: #A3CF74;
        outline: none;
    }
}

.form-group label {
    font-weight: 400;
}

.message-pane {
    display: none;
    height: 100%;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 200;
    padding: 15px;
    white-space: nowrap;
}
.error-message {
    color: #E94A4A;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: transparent;
    // transition: border-bottom .5s;
    border-bottom: 3px solid #B2E47C;
}

.navbar {
    height: 53px;
}

.navbar-toggle {
    border-color: #ccc;

    &:hover {
        background-color: #eee;
        border-color: #eee;
    }

    .icon-bar {
        background-color: #999;
        // height: 1px;
    }
}

.navbar-collapse.in ul {
    background-color: white;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;

    li {

    }
}

.navbar-collapse.collapse ul {
    float: right !important!;
}


.nav li a {
    border-bottom: transparent;
    text-transform: uppercase;
    color: #666;
}
// B1644F   96A8E8    B2E47C
.nav .active a {
    border-bottom: 3px solid #B2E47C;
}

.social-icons {
    padding: 15px 15px 15px 0px;

    li {
        width: 20px;
        height: 20px;
        margin-right: 2px;

        a {
            padding: 0;
            width: 100%;
            height: 100%;
        }

        a:hover {
            border-bottom: none;
        }
    }

    .twitter {
        background: url('../images/twitter.png') no-repeat;
        background-size: 20px;
        background-position: 0 0;
    }

    .twitter:hover {
        background-position: 0 -20px;
    }

    .facebook {
        background: url('../images/facebook.png') no-repeat;
        background-size: 20px;
        background-position: 0 0;
    }

    .facebook:hover {
        background-position: 0 -20px;
    }
}

.gallery {
    padding: 0;
    list-style: none;

    li {
        margin: 5px 10px 5px 0;
        display: inline;
        float: left;
    }

    li img {
        cursor: pointer;
        opacity: 1;
    }

    li img:hover {
        opacity: 0.6;
    }
}

.img-thumbnail {
    // padding: 0;
}

#live-photos {
    display: none;
}

/**
 * Media Queries
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {

    .lrg-mast {
        margin-top: 20px;
        text-align: center;

        h1 a {
            font-size: 40px;
            letter-spacing: -1px;
        }

        p {
            font-size: 20px;
            font-weight: 200;
            width: 100%;
        }
    }

    .sign-up-form {
        width: 80%;
        margin: auto auto;
    }

    .submit-btn {
        width: 100%;
    }
    .form-control {
        width: 100%;
    }

    .message-pane {
        margin: auto auto;
        text-align: center;
        width: 100%;
        white-space: normal;
        padding: 10px 0;
    }

    .table > thead > tr > th {
        text-align: center;
    }
}

@media only screen and (min-width : 481px) and (max-width : 767px) {
    .lrg-mast h1 a {
        font-size: 70px;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    .lrg-mast h1 a {
        letter-spacing: -1px;
    }

    .lrg-mast p {
        font-size: 20px;
        font-weight: 200;
        width: 100%;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    .lrg-mast h1 {
        text-align: center;
    }
    .sign-up-form {
        width: 100%;
    }
    .lrg-mast {
        margin-top: 50px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .lrg-mast p {
/*        font-size: 24px;
        font-weight: 200;*/
        // width: 70%;
    }
    // .sign-up-form {
    //     width: 70%;
    // }
}

/* iPhone 5 */
@media (min-width:320px) and (max-width: 568px) and (orientation: portrait) {

}


// /* iPads (landscape) ----------- */
// @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
// /* Styles */
// }

// /* iPads (portrait) ----------- */
// @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
// /* Styles */
// }

//  Desktops and laptops -----------
// @media only screen and (min-width : 1224px) {
// /* Styles */
// }

// /* Large screens ----------- */
// @media only screen and (min-width : 1824px) {
// /* Styles */
// }

// /* iPhone 4 ----------- */
// @media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 1.5) {
// /* Styles */
// }